<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SAKIFPhone</a>
    </div>
    <ul class="nav navbar-nav">

          <li><a routerLink="/products">Chercher produit</a></li>
          <li><a routerLink="/new-product">Ajouter produit</a></li>


    </ul>
  </div>
</nav>


<router-outlet></router-outlet>
<div class="container navbar-fixed-bottom" >

  <div class="row" style="text-align:center;">
  </div>
<footer class="footer-bs" >
  <a href="https://www.linkedin.com/in/nabil-sakif-412301183/" class="fa fa-linkedin"></a>
  <a href="https://github.com/sakif-nabil" class="fa fa-github"></a>
  <a href="https://www.facebook.com/profile.php?id=100008270837545" class="fa fa-facebook"></a>

  <a href="https://www.youtube.com/channel/UCVKE6-Dbzm-GEZHwl3zcm7w?view_as=subscriber" class="fa fa-youtube"></a>
  
</footer>
</div>


